<?xml version="1.0"?>
<config>
    <modules>
        <Brandedcrate_Payjunction>
            <version>0.1.0</version>
        </Brandedcrate_Payjunction>
    </modules>
    <global>
        <models>
            <payjunction>
                <class>Brandedcrate_Payjunction_Model</class>
                <resourceModel>brandedcrate_payjunction_resource</resourceModel>
            </payjunction>
            <payjunction_resource>
                <class>Brandedcrate_Payjunction_Model_Resource</class>
            </payjunction_resource>
        </models>
        <blocks>
            <brandedcrate_payjunction>
                <class>Brandedcrate_Payjunction_Block</class>
            </brandedcrate_payjunction>
        </blocks>
        <helpers>
            <brandedcrate_payjunction>
                <class>Brandedcrate_Payjunction_Helper</class>
            </brandedcrate_payjunction>
        </helpers>
    </global>
    <frontend>
        <routers>
            <brandedcrate_payjunction>
                <use>standard</use>
                <args>
                    <module>Brandedcrate_Payjunction</module>
                    <frontName>payjunction</frontName>
                </args>
            </brandedcrate_payjunction>
        </routers>
        <layout>
            <updates>
                <brandedcrate_payjunction>
                    <file>payjunction.xml</file>
                </brandedcrate_payjunction>
            </updates>
        </layout>
    </frontend>
</config>