<?xml version="1.0"?>
<config>
    <modules>
        <Brandedcrate_Payjunction>
            <version>0.3.0</version>
        </Brandedcrate_Payjunction>
    </modules>
    <global>
        <models>
            <payjunction>
                <class>Brandedcrate_Payjunction_Model</class>
                <resourceModel>brandedcrate_payjunction_resource</resourceModel>
            </payjunction>
            <payjunction_resource>
                <class>Brandedcrate_Payjunction_Model_Resource</class>
            </payjunction_resource>
        </models>
        <blocks>
            <payjunction>
                <class>Brandedcrate_Payjunction_Block</class>
            </payjunction>
        </blocks>
        <helpers>
            <payjunction>
                <class>Brandedcrate_Payjunction_Helper</class>
            </payjunction>
        </helpers>
    </global>
    <default>
        <payment>
            <payjunction>
                <active>0</active>
                <model>payjunction/creditCard</model>
                <order_status>pending</order_status>
                <title>Credit Card (Payjunction.com)</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </payjunction>
        </payment>
    </default>
    <frontend>
        <routers>
            <brandedcrate_payjunction>
                <use>standard</use>
                <args>
                    <module>Brandedcrate_Payjunction</module>
                    <frontName>payjunction</frontName>
                </args>
            </brandedcrate_payjunction>
        </routers>
        <layout>
            <updates>
                <brandedcrate_payjunction>
                    <file>payjunction.xml</file>
                </brandedcrate_payjunction>
            </updates>
        </layout>
    </frontend>
</config>
