app/Mage.php
app/code/core
app/code/community
!app/code/community/Brandedcrate
app/code/local
app/design/adminhtml
app/design/frontend/base
app/design/frontend/default
app/design/frontend/rwd
admin/design/install
app/etc/config.xml
app/etc/local.xml
app/etc/locale/
downloader/
errors/
includes/
js/
lib/
!lib/BrandedCrate
media/
pkginfo/
shell/
skin/
var/
.htaccess
.htaccess.sample
api.php
cron.php
cron.sh
favicon.ico
get.php
index.php
index.php.sample
install.php
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
mage
php.ini.sample
RELEASE_NOTES.txt
.idea/